<div>
    <h2 id="page-heading">
        <span jhiTranslate="proyectoAPiRestApp.drink.home.title">Drinks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-drink" [routerLink]="['/drink/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="proyectoAPiRestApp.drink.home.createLabel">
            Create a new Drink
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="drinks?.length === 0">
        <span jhiTranslate="proyectoAPiRestApp.drink.home.notFound">No drinks found</span>
    </div>
    <div class="table-responsive" *ngIf="drinks?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="drinkID"><span jhiTranslate="proyectoAPiRestApp.drink.drinkID">Drink ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="proyectoAPiRestApp.drink.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="price"><span jhiTranslate="proyectoAPiRestApp.drink.price">Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="restaurantName.id"><span jhiTranslate="proyectoAPiRestApp.drink.restaurantName">Restaurant Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let drink of drinks ;trackBy: trackId">
                <td><a [routerLink]="['/drink', drink.id, 'view' ]">{{drink.id}}</a></td>
                <td>{{drink.drinkID}}</td>
                <td>{{drink.description}}</td>
                <td>{{drink.price}}</td>
                <td>
                    <div *ngIf="drink.restaurantName">
                        <a [routerLink]="['/restaurant', drink.restaurantName?.id, 'view' ]" >{{drink.restaurantName?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/drink', drink.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/drink', drink.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/drink', { outlets: { popup: drink.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="drinks?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
