<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-restaurant-heading" jhiTranslate="proyectoAPiRestApp.restaurant.home.createOrEditLabel">Create or edit a Restaurant</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="proyectoAPiRestApp.restaurant.restaurantID" for="field_restaurantID" [ngbTooltip]="'proyectoAPiRestApp.restaurant.help.restaurantID' | translate">Restaurant ID</label>
                    <input type="text" class="form-control" name="restaurantID" id="field_restaurantID"
                           formControlName="restaurantID"/>
                    <div *ngIf="editForm.get('restaurantID').invalid && (editForm.get('restaurantID').dirty || editForm.get('restaurantID').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('restaurantID').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="proyectoAPiRestApp.restaurant.restaurantName" for="field_restaurantName">Restaurant Name</label>
                    <input type="text" class="form-control" name="restaurantName" id="field_restaurantName"
                           formControlName="restaurantName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="proyectoAPiRestApp.restaurant.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="proyectoAPiRestApp.restaurant.departmentName" for="field_departmentName">Department Name</label>
                    <select class="form-control" id="field_departmentName" name="departmentName" formControlName="departmentName">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="departmentOption.id === editForm.get('departmentName').value?.id ? editForm.get('departmentName').value : departmentOption" *ngFor="let departmentOption of departments; trackBy: trackDepartmentById">{{departmentOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
